{
	"presets": ["next/babel"],
	"compact": true,
	"plugins": [
		[
			"babel-plugin-styled-components",
			{
				"ssr": true,
				"pure": true
			}
		],
		["@babel/plugin-proposal-optional-chaining"]
	]
}
